<div id="home">
    <div class="container">
        <div class="container-fluid header ">
            <div class="margin-top image">
                <h1 class="title center">Giełda samochodowa</h1>
                <div class="centered-text">
                    <h2>Dołącz do nas i znajdź swój wymarzony samochód</h2>
                </div>
                <div class="nav-action">
                    <div class="button">
                        <div><a [routerLink]="['/account/login']" class="btn btn-primary">Zaloguj się </a></div>
                    </div>
                    <div class="button">
                        <div><a [routerLink]="['/account/register']" class="btn btn-success">Zarejestruj się </a></div>
                    </div>

                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <h2>Rekomendowane oferty</h2>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">

                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Oferta 1</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">

                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Oferta 2</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">

                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Oferta 3</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">

                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Oferta 4</h4>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
        </footer>
    </div>
</div>