<div id="newoffer">
    <div class="container">
        <h2>{{ 'NEWOFFER' | translate }}</h2>
        <form role="form">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'BASIC' | translate }}</h3>
                </div>
                <div class="panel-body">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="make">{{ 'MAKE' | translate }}</label>
                            <select class="form-control" id="make" [(ngModel)]="_newOffer.Make" name="make" (change)="dropChange($event.target.value)">
                                <option *ngFor="let make of makes" [value]="make.display">
                                    {{make.display}}
                                </option>
                            </select>
                            <label for="year">{{ 'YEAR' | translate }}</label>
                            <input type="text" class="form-control" id="year" name="year" [(ngModel)]="_newOffer.Year">

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="model">Model:</label>
                            <select class="form-control" id="model" [(ngModel)]="_newOffer.Model" name="model" [disabled]="!_newOffer.Make">
                                <option *ngFor="let opt of models" [value]="opt">
                                    {{opt}}
                                </option>                           
                            </select>

                            <label for="mileage">{{ 'MILEAGE' | translate }}</label>
                            <div class="input-group">
                                <input type="text" name="mileage" class="form-control" id="mileage" [(ngModel)]="_newOffer.Mileage">
                                <span class="input-group-addon" id="basic-addon1">km</span>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="price">{{ 'PRICE' | translate }}</label>
                            <div class="input-group">
                               <input type="text" class="form-control" name="price" id="price"  [(ngModel)]="_newOffer.Price">
                                <span class="input-group-addon" id="basic-addon1">PLN</span>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'CARDESC' | translate }}</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="description">Opis:</label>
                        <textarea class="form-control" rows="5" id="description" name="description" [(ngModel)]="_newOffer.Description"></textarea>
                    </div>
                </div>

            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="fuel">{{ 'FUEL' | translate }}:</label>
                            <select class="form-control " id="fuel" name="fuel" [(ngModel)]="_newOffer.Fuel">
                                <option *ngFor="let fuel of fuels" [value]="fuel.display">
                                    {{fuel.display}}
                                </option>
                            </select>

                            <label for="drive">{{ 'DRIVE' | translate }}:</label>
                            <select class="form-control " id="drive"  name="drive" [(ngModel)]="_newOffer.Drive">
                                <option *ngFor="let drive of drives" [value]="drive.display">
                                    {{drive.display}}
                                </option>
                            </select>

                            <label for="drive">{{ 'GEARBOX' | translate }}:</label>
                            <select class="form-control " id="gearbox" name="gearbox" [(ngModel)]="_newOffer.Gearbox">
                                <option *ngFor="let gb of gearboxes" [value]="gb.display">
                                    {{gb.display}}
                                </option>
                            </select>

                            <label for="seatsNb">{{ 'SEATS' | translate }}:</label>
                            <select class="form-control " id="seatsNb" name="seatsNb" [(ngModel)]="_newOffer.SeatsNb">
                                <option *ngFor="let seat of seats" [value]="seat.display">
                                    {{seat.display}}
                                </option>
                            </select>
                            

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="displacement">{{ 'DISPLACEMENT' | translate }}:</label>
                            
                            <div class="input-group">
                                <input type="text" class="form-control" id="displacement" name="displacement" [(ngModel)]="_newOffer.Displacement" >
                                <span class="input-group-addon" id="basic-addon1">ccm</span>
                            </div>

                            <label for="category">{{ 'CATEGORY' | translate }}:</label>
                            <select class="form-control " id="category" name="category" [(ngModel)]="_newOffer.Category">
                                <option *ngFor="let type of types" [value]="type.display">
                                    {{type.display}}
                                </option>
                            </select>
                            <label for="doorsNb">{{ 'DOORS' | translate }}:</label>
                            <select class="form-control " id="doorsNb" name="doorsNb" [(ngModel)]="_newOffer.DoorsNb">
                                <option *ngFor="let door of doors" [value]="door.display">
                                    {{door.display}}
                                </option>
                            </select>
                            <label for="color">{{ 'COLOR' | translate }}:</label>
                            <select class="form-control " id="color" name="color" [(ngModel)]="_newOffer.Color">
                                <option *ngFor="let color of colors" [value]="color.display">
                                    {{color.display}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'EQUIPMENT' | translate }}</h3>
                </div>
                <div class="panel-body">
                    <label class="checkbox-inline"><input type="checkbox" value="damaged" id="damaged" [(ngModel)]="_newOffer.Damaged" name="damaged">{{ 'DAMAGED' | translate }}</label>
                    <label class="checkbox-inline"><input type="checkbox" value="ABS" id="abs" name="abs" [(ngModel)]="_newOffer.ABS">ABS</label>
                    <label class="checkbox-inline"><input type="checkbox" value="AC" id="AC" name="AC" [(ngModel)]="_newOffer.AirCond" >{{ 'AIRCOND' | translate }}</label>
                    <label class="checkbox-inline"><input type="checkbox" value="airbag" id="airbag" name="airbags" [(ngModel)]="_newOffer.Airbags">{{ 'AIRBAGS' | translate }}</label>
                    <label class="checkbox-inline"><input type="checkbox" value="centralLocking" id="centralLocking" name="centralLocking" [(ngModel)]="_newOffer.CentralLock" />{{ 'LOCK' | translate }}</label>
                </div>
            </div>
            <button type="button" class="btn btn-default btn-md pull-right" (click)="submit()">
                <span class="glyphicon glyphicon-save" aria-hidden="true"></span>{{ 'ADDOFFER' | translate }}
            </button>
        </form>     
    </div>
</div>



