<div id="newoffer">
    <div class="container">
        <h2>Nowe ogłoszenie</h2>
        <form role="form">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Dane podstawowe</h3>
                </div>
                <div class="panel-body">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="make">Marka:</label>
                            <select class="form-control" id="make" [(ngModel)]="makeSelect" name="make">
                                <option *ngFor="let make of makes" [ngValue]="make">
                                    {{make.car.display}}
                                </option>
                            </select>
                            <label for="year">Rok produkcji:</label>
                            <input type="text" class="form-control" id="year" placeholder="Podaj rok produkcji">

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="model">Model:</label>
                            <select class="form-control" id="model" [(ngModel)]="modelSelect" name="model" [disabled]="!makeSelect">
                                <option *ngFor="let opt of hack(makeSelect?.makeModels)" [ngValue]="opt">
                                    {{opt.display}}
                                </option>
                                
                            </select>

                            <label for="mileage">Przebieg:</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="mileage" placeholder="Podaj przebieg...">
                                <span class="input-group-addon" id="basic-addon1">km</span>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="price">Cena:</label>
                            <div class="input-group">
                               <input type="text" class="form-control" id="price" placeholder="Podaj cenę...">
                                <span class="input-group-addon" id="basic-addon1">zł</span>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Opis pojazdu</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="description">Opis:</label>
                        <textarea class="form-control" rows="5" id="description"></textarea>
                    </div>


                </div>

            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="fuel">Paliwo:</label>
                            <select class="form-control " id="fuel">
                                <option *ngFor="let fuel of fuels" [value]="fuel.value">
                                    {{fuel.display}}
                                </option>
                            </select>

                            <label for="drive">Rodzaj napędu:</label>
                            <select class="form-control " id="drive">
                                <option *ngFor="let drive of drives" [value]="drive.value">
                                    {{drive.display}}
                                </option>
                            </select>

                            <label for="seatsNb">Liczba miejsc:</label>
                            <select class="form-control " id="seatsNb">
                                <option *ngFor="let seat of seats" [value]="seat.value">
                                    {{seat.display}}
                                </option>
                            </select>
                            <label for="color">Kolor:</label>
                            <select class="form-control " id="color">
                                <option *ngFor="let color of colors" [value]="color.value">
                                    {{color.display}}
                                </option>
                            </select>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="displacement">Pojemność:</label>
                            
                            <div class="input-group">
                                <input type="text" class="form-control" id="displacement" placeholder="Podaj pojemność...">
                                <span class="input-group-addon" id="basic-addon1">ccm</span>
                            </div>

                            <label for="category">Typ nadwozia:</label>
                            <select class="form-control " id="category">
                                <option *ngFor="let type of types" [value]="type.value">
                                    {{type.display}}
                                </option>
                            </select>
                            <label for="doorsNb">Liczba drzwi:</label>
                            <select class="form-control " id="doorsNb">
                                <option *ngFor="let door of dors" [value]="door.value">
                                    {{door.display}}
                                </option>
                            </select>


                        </div>
                    </div>





                </div>

            </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Wyposażenie</h3>
                </div>
                <div class="panel-body">
                    <label class="checkbox-inline"><input type="checkbox" value="damaged" id="damaged">Uszkodzony</label>
                    <label class="checkbox-inline"><input type="checkbox" value="ABS" id="abs">ABS</label>
                    <label class="checkbox-inline"><input type="checkbox" value="AC" id="AC">Klimatyzacja</label>
                    <label class="checkbox-inline"><input type="checkbox" value="airbag" id="airbag">Poduszki powietrzne</label>
                    <label class="checkbox-inline"><input type="checkbox" value="centralLocking" id="centralLocking">Centralny zamek</label>


                </div>

            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Dodaj zdjęcia</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <input id="input-44" name="input44[]" type="file" multiple class="file file-loading">
                        
                        <div id="errorBlock" class="help-block"></div>
                        
                    </div>


                </div>

            </div>
            <button type="button" class="btn btn-default btn-md pull-right" (click)="submit()">
                <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Dodaj ogłoszenie
            </button>
        </form>
       

    </div>
</div>



