<div id="newoffer">
    <div class="container">
        <h2>Nowe ogłoszenie</h2>
        <form role="form">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Dane podstawowe</h3>
                </div>
                <div class="panel-body">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="make">Marka:</label>
                            <select class="form-control" id="make">
                                <option>Audi</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                            <label for="year">Rok produkcji:</label>
                            <input type="text" class="form-control" id="year" placeholder="Podaj rok produkcji">

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="model">Model:</label>
                            <select class="form-control" id="model">
                                <option>A4</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>

                            <label for="mileage">Przebieg:</label>
                            <input type="text" class="form-control" id="mileage" placeholder="Podaj przebieg...">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="price">Cena:</label>
                            <input type="text" class="form-control" id="price" placeholder="Podaj cenę...">
                        </div>
                    </div>


                </div>

            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Opis pojazdu</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="description">Opis:</label>
                        <textarea class="form-control" rows="5" id="description"></textarea>
                    </div>


                </div>

            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="fuel">Paliwo:</label>
                            <select class="form-control " id="fuel">
                                <option>Benzyna</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>

                            <label for="drive">Rodzaj napędu:</label>
                            <select class="form-control " id="drive">
                                <option>Benzyna</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>

                            <label for="seatsNb">Liczba miejsc:</label>
                            <select class="form-control " id="seatsNb">
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                            <label for="color">Kolor:</label>
                            <select class="form-control " id="color">
                                <option>Benzyna</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="displacement">Pojemność:</label>
                            <input type="text" class="form-control" id="displacement" placeholder="Podaj pojemność...">

                            <label for="category">Typ nadwozia:</label>
                            <select class="form-control " id="category">
                                <option>Sedan</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                            <label for="doorsNb">Liczba drzwi:</label>
                            <select class="form-control " id="doorsNb">
                                <option>Sedan</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>


                        </div>
                    </div>





                </div>

            </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Wyposażenie</h3>
                </div>
                <div class="panel-body">
                    <label class="checkbox-inline"><input type="checkbox" value="damaged" id="damaged">Uszkodzony</label>
                    <label class="checkbox-inline"><input type="checkbox" value="ABS" id="abs">ABS</label>
                    <label class="checkbox-inline"><input type="checkbox" value="AC" id="AC">Klimatyzacja</label>
                    <label class="checkbox-inline"><input type="checkbox" value="airbag" id="airbag">Poduszki powietrzne</label>
                    <label class="checkbox-inline"><input type="checkbox" value="centralLocking" id="centralLocking">Centralny zamek</label>


                </div>

            </div>

        </form>
        <button type="button" class="btn btn-default btn-md pull-right">
            <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Dodaj ogłoszenie
        </button>

    </div>
</div>



