<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{ 'OFFERS' | translate }}
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a [routerLink]="['/Home']">Home</a>
                </li>
                <li class="active">{{ 'OFFERS' | translate }}</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <!-- <div class="row" *ngFor="let offer of _offers">
        <div class="col-md-1 text-center">
            <h3>Oferta {{offer.Id}}</h3>
            <p>{{convertDateTime(offer.StartTime)}}</p>
        </div>
       <div class="col-md-5">
            <a class="fancybox" rel="gallery" href="{{album.Thumbnail}}" title="{{offer.Model}}">
                <img class="media-object img-responsive album-thumbnail" src="{{album.Thumbnail}}" alt="" />
            </a>
        </div> -->
       <!-- <div class="col-md-6">-->
             <!-- <h3>
              <a [routerLink]="['/albums/:id/photos', {id: album.Id}]">{{album.Title}}</a>
            </h3> 
            <label>Marka: </label>{{offer.Make}}
            <label>Model: </label>{{offer.Model}}
            <p>{{offer.Description}}</p>
        </div>
        <hr />
    </div>-->
    <div class="row">
        <div class="col-lg-12" >
            <div class="panel panel-default">
                <div class="panel-body">

                        <form>
                            <div class="col-md-4 col-sm-6">
                                <label>{{ 'PRICE' | translate }}</label><br>
                                <label for="priceFrom">{{ 'FROM' | translate }}</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" [(ngModel)]="_filterPriceFrom" name="priceFrom" id="priceFrom" />
                                    <span class="input-group-addon" id="basic-addon1">PLN</span>
                                </div>
                                <label for="priceTo">{{ 'TO' | translate }}</label>    
                                <div class="input-group">
                                    <input type="number" class="form-control" [(ngModel)]="_filterPriceTo" name="priceTo" id="priceTo"/>
                                    <span class="input-group-addon" id="basic-addon1">PLN</span>

                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <label>{{ 'YEAR' | translate }}</label><br>
                                <label for="yearFrom">{{ 'FROM' | translate }}</label>
                                <input type="number" class="form-control" [(ngModel)]="_filterYearFrom" name="yearFrom"/>
                                <label for="yearTo">{{ 'TO' | translate }}</label>
                                <input type="number" class="form-control" [(ngModel)]="_filterYearTo" name="yearTo"/>
                            </div>
                            <div class="col-md-4 col-sm-6" style="min-height: 140px;">
                                <label for="make">{{ 'MAKE' | translate }}</label>
                                <select class="form-control" id="make" name="make" (change)="dropChange($event.target.value)">
                                    <option *ngFor="let make of makes" [value]="make.display">
                                        {{make.display}}
                                    </option>
                                </select>
                                <button class="btn btn-primary" style="position:absolute; width:90%; bottom: 0;" (click)="filter()">{{ 'FILTER' | translate }}</button>
                            </div>

                    </form>
                </div>
            </div>
        </div>
     </div>
        <div class="col-md-3 col-sm-6" *ngFor="let offer of _offersFiltered">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <a class="fancybox" href="/images/{{offer.PhotoUri}}.jpg" title="{{offer.Model}}">
                        <img class="media-object" src="/images/{{offer.PhotoUri}}.jpg" alt="" style="width:100%" />
                    </a>
                </div>
                <div class="panel-body">
                    <h4>{{offer.Make}} {{offer.Model}}</h4>
                    <label>{{ 'YEAR' | translate }}:&nbsp;</label>{{offer.Year}} <br />
                    <label>{{ 'PRICE' | translate }}:&nbsp;</label>{{offer.Price}} PLN<br />
                    <label>{{ 'USER' | translate }}:&nbsp;</label>{{offer.Username}} <br /> <br />
                    <button class="btn btn-primary" [routerLink]="['/offers/:id/offer', {id: offer.Id}]">{{ 'DETAILS' | translate }}</button>
                    <button class="btn btn-xs btn-danger" (click)="delete(offer.Id)">
                        <span class="fa-stack fa-1x">
                            <i class="fa fa-remove fa-stack-1x fa-inverse"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <hr>
    </div>

