<div style="display: block; text-align:center">
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="height:400px;">
                <h4>{{ 'MARKSCHART' | translate }}</h4>
                <canvas baseChart
                        [data]="doughnutChartData"
                        [labels]="doughnutChartLabels"
                        [chartType]="doughnutChartType"
                        [colors]="doughnutChartColors"
                        [options]="options"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
            </div>
            <div class="col-md-6" style="height:400px;">
                <h4>{{ 'LINECHART' | translate }}</h4>
                <canvas baseChart
                        [data]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [chartType]="lineChartType"
                        [colors]="lineChartColors"
                        (chartClick)="chartClicked($event)"></canvas>
            </div>
        </div>
    </div>
</div>